.sidebar {
  width: 16rem;
  transition: all 0.3s ease;
}
.sidebar-collapsed .sidebar {
  width: 4rem;
}
.sidebar-collapsed .sidebar-text {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.2s ease, width 0.3s ease 0.1s;
}
.sidebar-text {
  opacity: 1;
  width: auto;
  height: auto;
  transition: opacity 0.3s ease 0.1s, width 0.3s ease;
}