<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Modern - Sidebar Collapse</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
</head>
<body class="bg-red-50">

    <!-- Container Utama -->
    <div class="flex h-screen">

    
       

        <!-- Konten Utama -->
        <main class="flex-1 overflow-y-auto">

           

            <!-- Page Content -->
            <div class="p-5">
                

                

                <!-- Stats Cards -->
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">
                  <!-- Card 1: Total Pengguna -->
                  <div class="bg-white p-6 rounded-2xl border border-slate-200 hover:shadow-lg transition">
                      <div class="flex items-center gap-4">
                          <div class="p-3 bg-blue-100 rounded-xl">
                              <svg class="w-6 h-6 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                              </svg>
                          </div>
                          <div>
                              <p class="text-sm font-medium text-slate-500">Total Pengguna</p>
                              <p class="text-lg font-semibold text-slate-800 mt-1">1,234</p>
                          </div>
                      </div>
                  </div>

                  <!-- Card 2: Pendapatan -->
                  <div class="bg-white p-6 rounded-2xl border border-slate-200 hover:shadow-lg transition">
                      <div class="flex items-center gap-4">
                          <div class="p-3 bg-green-100 rounded-xl">
                              <svg class="w-6 h-6 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                              </svg>
                          </div>
                          <div>
                              <p class="text-sm font-medium text-slate-500">Total Pengguna</p>
                              <p class=" text-lg font-semibold text-emerald-600 mt-1">Rp 1.000.000</p>
                          </div>
                      </div>
                  </div>

                  <!-- Card 3: Pesanan -->
                  <div class="bg-white p-6 rounded-2xl border border-slate-200 hover:shadow-lg transition">
                      <div class="flex items-center gap-4">
                          <div class="p-3 bg-yellow-100 rounded-xl">
                              <svg class="w-6 h-6 text-yellow-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                              </svg>
                          </div>
                          <div>
                              <p class="text-sm font-medium text-slate-500">Pesanan</p>
                              <p class="text-lg font-semibold text-slate-800 mt-1">356</p>
                          </div>
                      </div>
                  </div>

                  <!-- Card 4: Kunjungan -->
                  <div class="bg-white p-6 rounded-2xl border border-slate-200 hover:shadow-lg transition">
                      <div class="flex items-center gap-4">
                          <div class="p-3 bg-purple-100 rounded-xl">
                              <svg class="w-6 h-6 text-purple-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                              </svg>
                          </div>
                          <div>
                              <p class="text-sm font-medium text-slate-500">Kunjungan</p>
                              <p class="text-lg font-semibold text-slate-800 mt-1">12,3rb</p>
                          </div>
                      </div>
                  </div>
              </div>

                

                <!-- table 1 -->
                <div class="bg-white border border-slate-200 rounded-2xl p-6 mt-2">

                  <!-- Header -->
                  <div class="flex items-center justify-between mb-6">

                      <h2 class="text-lg font-semibold text-slate-800">
                          Data Pengiriman
                      </h2>

                      <div class="flex items-center gap-3">

                          <!-- Search -->
                          <div class="relative">
                              <svg class="w-5 h-5 text-slate-400 absolute left-3 top-1/2 -translate-y-1/2"
                                  fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                              </svg>

                              <input
                                  type="text"
                                  placeholder="Cari data..."
                                  class="pl-10 pr-4 py-2 border border-slate-200 rounded-lg text-sm focus:ring-2 focus:ring-blue-500 outline-none"
                              >
                          </div>

                          <!-- Button -->
                          <button class="flex items-center gap-2 bg-blue-600 text-white px-4 py-2 rounded-lg text-sm hover:bg-blue-700">

                              <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                  <path stroke-linecap="round" stroke-width="2"
                                        d="M12 4v16m8-8H4"/>
                              </svg>

                              Tambah Toko
                          </button>

                      </div>
                  </div>

                  <!-- Table -->
                  <div class="overflow-x-auto">

                      <table class="w-full text-sm">

                          <thead class="text-slate-500 border-b">
                              <tr class="text-left">
                                  <th class="py-3">NAMA</th>
                                  <th class="py-3">ASAL</th>
                                  <th class="py-3">DESKRIPSI</th>
                                  <th class="py-3">ONGKIR</th>
                                  <th class="py-3 text-center">ACTION</th>
                              </tr>
                          </thead>

                          <tbody class="divide-y">

                              

                              <tr class="hover:bg-slate-50">
                                  <td class="py-4 font-medium">Xoomtreasure</td>
                                  <td>Garut, Jawa Barat</td>
                                  <td>Random item, special luxury ralph lauren</td>
                                  <td class="font-medium">10.000</td>
                                  <td class="text-center">
                                    <div class="flex justify-center gap-2">

                                        <!-- Edit -->
                                        <button class="w-7 h-7 flex items-center justify-center rounded-md bg-blue-50 text-blue-600 hover:bg-blue-100 transition">
                                            <i class="fa-solid fa-pen text-xs"></i>
                                        </button>

                                        <!-- Delete -->
                                        <button class="w-7 h-7 flex items-center justify-center rounded-md bg-red-50 text-red-600 hover:bg-red-100 transition">
                                            <i class="fa-solid fa-trash text-xs"></i>
                                        </button>

                                    </div>
                                </td>
                              </tr>

                          </tbody>

                      </table>

                  </div>

                  <!-- Footer -->
                  <div class="flex items-center justify-between mt-6 text-sm">

                      <p class="text-slate-500">
                          Menampilkan 1 hingga 5 dari 15 hasil
                      </p>

                      <div class="flex items-center gap-2">

                          <button class="px-3 py-1 border rounded-lg text-slate-500">
                              Sebelumnya
                          </button>

                          <button class="px-3 py-1 bg-blue-600 text-white rounded-lg">
                              1
                          </button>

                          <button class="px-3 py-1 border rounded-lg">
                              2
                          </button>

                          <button class="px-3 py-1 border rounded-lg">
                              3
                          </button>

                          <button class="px-3 py-1 border rounded-lg">
                              Selanjutnya
                          </button>

                      </div>

                  </div>

                </div>

                <!-- table 2  -->
                <div class="bg-white border border-slate-200 rounded-2xl p-6 mt-2">
                    <div class="flex items-center justify-between mb-6">

                        <h2 class="text-lg font-semibold text-slate-800">
                            Data Pengiriman
                        </h2>

                        <div class="flex items-center gap-3">
                            <button class="flex items-center gap-2 bg-blue-600 text-white px-4 py-2 rounded-lg text-sm hover:bg-blue-700">
                                Tambah Toko
                            </button>
                        </div>
                    </div>

                    <div class="overflow-x-auto">

                        <table class="w-full text-sm">

                            <thead class="text-slate-500 border-b">
                                <tr class="text-left">
                                    <th class="py-3">NAMA</th>
                                    <th class="py-3">ASAL</th>
                                    <th class="py-3">DESKRIPSI</th>
                                    <th class="py-3">ONGKIR</th>
                                    <th class="py-3 text-center">ACTION</th>
                                </tr>
                            </thead>

                            <tbody class="divide-y">

                                <tr class="hover:bg-slate-50">
                                    <td class="py-3 px-4">
                                        <div class="flex items-center space-x-3">

                                            <!-- Gambar -->
                                            <div class="w-10 h-10 rounded-lg overflow-hidden bg-slate-200">
                                                <img 
                                                    src="https://via.placeholder.com/40"
                                                    alt="toko"
                                                    class="w-full h-full object-cover"
                                                >
                                            </div>

                                            <!-- Nama -->
                                            <span class="text-sm font-medium text-slate-800">
                                                Xoomtreasure
                                            </span>

                                        </div>
                                    </td>

                                    <td>Garut, Jawa Barat</td>

                                    <td>Random item, special luxury ralph lauren</td>

                                    <td class="font-medium">10.000</td>

                                    <td class="text-center">

                                        <div class="flex justify-center gap-2">

                                            <!-- View -->
                                            <button class="w-8 h-8 flex items-center justify-center rounded-md bg-slate-100 text-slate-600 hover:bg-slate-200 transition">
                                                <i class="fa-solid fa-eye text-xs"></i>
                                            </button>

                                            <!-- Edit -->
                                            <button class="w-8 h-8 flex items-center justify-center rounded-md bg-blue-50 text-blue-600 hover:bg-blue-100 transition">
                                                <i class="fa-solid fa-pen text-xs"></i>
                                            </button>

                                            <!-- Delete -->
                                            <button class="w-8 h-8 flex items-center justify-center rounded-md bg-red-50 text-red-600 hover:bg-red-100 transition">
                                                <i class="fa-solid fa-trash text-xs"></i>
                                            </button>

                                        </div>

                                    </td>

                                </tr>

                            </tbody>

                        </table>

                    </div>
                </div>

                <div class="overflow-x-auto bg-white border border-slate-200 rounded-2xl mt-5">
                    <table class="w-full text-sm">
                        <thead class="text-slate-500 border-b">
                            <tr class="text-left">
                                <th class="py-3 px-4 font-medium">PRODUK</th>
                                <th class="py-3 px-3 font-medium w-[90px]">HARGA</th>
                                <th class="py-3 px-3 font-medium">BRAND</th>
                                <th class="py-3 px-3 font-medium">STORE</th>
                                <th class="py-3 px-3 font-medium">KATEGORI</th>
                                <th class="py-3 px-3 font-medium text-center w-[120px]">ACTION</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-slate-100">
                            <tr class="hover:bg-slate-50 transition">
                                <!-- Produk -->
                                <td class="py-3 px-4">
                                    <div class="flex items-center gap-3">
                                        <div class="w-10 h-10 rounded-lg overflow-hidden bg-slate-200 flex-shrink-0">
                                            <img src="https://via.placeholder.com/40" alt="Product" class="w-full h-full object-cover">
                                        </div>
                                        <div>
                                            <p class="text-sm font-medium text-slate-800">Classic Fit Garment-Dyed Oxford Shirt</p>
                                            <p class="text-xs text-slate-500">12 Mei 2025</p>
                                        </div>
                                    </div>
                                </td>

                                <!-- Harga -->
                                <td class="py-3 px-3 font-medium text-slate-800 whitespace-nowrap">Rp120.000</td>

                                <!-- Brand -->
                                <td class="py-3 px-3">
                                    <span class="px-3 py-1 text-xs font-medium rounded-full bg-purple-100 text-purple-600 whitespace-nowrap">
                                        Comme des Garçons
                                    </span>
                                </td>

                                <!-- Store -->
                                <td class="py-3 px-3 text-slate-600 whitespace-nowrap">Pemulung Branded</td>

                                <!-- Kategori -->
                                <td class="py-3 px-3">
                                    <span class="px-3 py-1 text-xs font-medium rounded-full bg-blue-100 text-blue-600 whitespace-nowrap">
                                        T-Shirt
                                    </span>
                                </td>

                                <!-- Action -->
                                <td class="py-3 px-3">
                                    <div class="flex justify-center gap-2">
                                        <button class="w-8 h-8 flex items-center justify-center rounded-md bg-slate-100 text-slate-600 hover:bg-slate-200 transition">
                                            <i class="fa-solid fa-eye text-xs"></i>
                                        </button>
                                        <button class="w-8 h-8 flex items-center justify-center rounded-md bg-blue-50 text-blue-600 hover:bg-blue-100 transition">
                                            <i class="fa-solid fa-pen text-xs"></i>
                                        </button>
                                        <button class="w-8 h-8 flex items-center justify-center rounded-md bg-red-50 text-red-600 hover:bg-red-100 transition">
                                            <i class="fa-solid fa-trash text-xs"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <!--  -->
            </div>
        </main>
    </div>

    

</body>
</html>